@import "/web/20220407050214cs_/https://woodsidehighschool.co.uk/admin/popupwindow/FrontEndFiles/modal_public.css";
/*
     FILE ARCHIVED ON 05:02:14 Apr 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:15:02 Aug 20, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.765
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 43.46
  LoadShardBlock: 110.081 (3)
  PetaboxLoader3.datanode: 196.263 (6)
  load_resource: 592.359 (2)
  PetaboxLoader3.resolve: 482.895 (2)
  loaddict: 57.931
*/